<div class="jumbotron center">
  <h1>Welcome to the Memory Box App</h1>
  <h2>A Place For You to Keep Track of Your Child's Memories    </h2>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg" %> 
  <%= link_to "Log in", login_path, class: "btn btn-danger btn-lg" %></p>
</div>